@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
}

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
}

/* header */

header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 80px;
    border-bottom: 1px solid #ddd;
}

header h1 {
    display: none;
}

#logo {
    margin-left: 40px;
}

#navmenu {
    margin-right: 40px;
    width: 300px;
}

#navmenu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 125%;
}

#navmenu ul li {
    list-style-type: none;
}

#navmenu ul li a {
    text-decoration: none;
    color: #333;
}

#navmenu ul li a:hover {
    border-bottom: 1px solid #ec7818;
}

/* hero image */

#hero-image {
    background: url('../images/hero-image.jpg') center center no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 600px;
    font-size: 125%;
}

#welcome-message {
    text-align: center;
    width: 650px;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 20px;
    margin-left: 10%;
    color: #fff;
    background: rgba(236,120,24,.9);
}

#hero-buttons {
    margin-left: 25%;
}

#hero-buttons ul {
    display: flex;
    flex-direction: row;
}

#hero-buttons ul li {
    padding: 5px 10px;
    margin-right: 20px;
    list-style-type: none;
    background-color: rgba(116,220,218,1);
    border-radius: 20px;
}

#hero-buttons ul li a {
    color: #fff;
    text-decoration: none;
}

#hero-buttons ul li a:hover {
    color: #ddd;
}

/* process overview */

#process-overview > h2 {
    text-align: center;
    width: 100%;
    margin: 30px 0px;
    font-size: 300%;
    text-decoration: underline;
}

#process-steps {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 60px 0;
}

#process-steps .step {
    width: 20%;
    text-align: center;
    box-shadow: 3px 5px 20px #ec7818;
    color: #333;
    padding: 10px;
    border-radius: 20px; 
    overflow: hidden;  
    font-size: 125%;
}

#process-steps .step img {
    margin: 20px;
    border-radius: 5%;
    width: 75%;
}

#process-steps .step h2, #process-steps .step p {
    margin-bottom: 10px;
}

#process-overview > p {
    max-width: 1000px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    font-size: 200%;
    border-top: 4px solid #74dcda;
    border-bottom: 4px solid #74dcda;
}

/* services */

#services {
    display: grid;
    grid-template-columns: auto auto auto auto;
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 80px;
}
.service:first-child {
    border: none;
}

.service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
    text-align: center;
    border-left: 2px solid #ec7818;
    margin: 20px auto;
    padding: 40px 20px;
    font-size: 125%;
}

.service img {
    width: 250px;
    margin: 0 auto;
    border-radius: 20px;
}

.service a {  
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: rgba(116,220,218,1);
    margin: 0 auto;
    border-radius: 20px;
    padding: 5px 10px;
}

.service a:hover {
    color: #ddd;
}

/* about us */

#about-us {
    display: flex;
    height: 600px;
    margin-top: 80px;
}

#about-us-image {
    background: url('../images/ennis.jpg') no-repeat center center;
    background-size: cover;
    width: 50%;
    height: 100%;
}

#about-us-text {
    width: 50%;
    height: 100%;
    font-size: 150%;
    color: #fff;
    background-color: #ec7818;
}

#about-us-text h2, #about-us-text p {
    position: relative;
    padding: 20px;
    top: 25%;
}

/* contact us */

#contact-us {
    display: flex;
    flex-direction: row;
    margin: 40px auto;
    font-size: 125%;
    width: 80%;
}

#contact-form {
    width: 50%;
}

#contact-form h2 {
    text-decoration: underline;
    margin-bottom: 40px;
}

#contact-form form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#contact-form form input, #contact-form form textarea {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 20px 0;
    padding: 10px 0;
}

#contact-info {
    width: 50%;

    text-align: right;
}

#contact-info h2{
    text-decoration: underline;
}

#contact-info h2, #contact-info h3 {
    margin-bottom: 40px;
}

#contact-info p {
    margin-bottom: 20px;
}

#contact-info #googleMap {
    width: 100%;
    height: 50%;
}

/* footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 120%;    
    margin-top: 40px;
    padding: 10px;
    background-color: #eee;
}

#footer-social ul {
    display: flex;
    flex-direction: row;
}

#footer-social ul li {
    margin: 0 60px;
    list-style-type: none;
}

#footer-social ul li a {
    text-decoration: none;
    color: #333;
    font-size: 150%;
}

#footer-social ul li a:hover {
    color:#ec7818
}

footer p {
    padding-top: 20px;
}

/* media queries */

/* for screen sizes 1200px wide and under  */
@media screen and (max-width: 1200px) {
    #services {
        grid-template-columns: auto auto;
    }

    .service:nth-child(3) {
        border: none;
    }
}

@media screen and (max-width: 800px) {
    header {
        flex-direction: column;
        height: 160px;
        justify-content: center;
    }

    #logo {
        margin: 10px auto;
    }

    #navmenu {
        margin: 0 auto;
    }

    #welcome-message {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    #hero-buttons {
        margin-left: auto;
        margin-right: auto;
    }

    #process-steps {
        flex-direction: column;
    }

    #process-steps .step {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        margin-bottom: 40px;
    }
}

